# Configuración de ReviewMySocialNetworks
PORT=8080

# Credenciales de tu Aplicación de Meta / Instagram Graph API
INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
INSTAGRAM_REDIRECT_URI=http://localhost:8080/api/auth/callback
FRONTEND_URL=http://localhost:8080
